<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>Home | SWEETER</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        $(document).ready(function(){
            listing();
        });

        function listing() {


            $.ajax({
                type: 'GET',
                url: '/item',
                data: {},
                success: function (response) {
                    let rows = response['items']
                    for(let i = 0; i < rows.length; i++) {
                        let image = rows[i]['image']
                        let title = rows[i]['title']
                        let sel = rows[i]['sel']

                        let temp_html = `<div class="col">
                                                <div class="card h-100">
                                                    <img src="${image}" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">${title}</h5>
                                                        <p class="card-text"></p>
                                                    </div>
                                                </div>
                                            </div>`
                        if(sel=="컴퓨터용품"){
                            $('#desk_box_box').append(temp_html)
                        }
                        else if(sel=="기타용품"){
                             $('#acc_box').append(temp_html)
                        }
                        else {
                            $('#labtop_box_box').append(temp_html)
                        }



                    }
                }
            })
        }
        function posting_item() {
            let url = $('#url').val()
            let sel = $('#sel').val()

            $.ajax({
                type: 'POST',
                url: '/item',
                data: {url_give: url, sel_give: sel},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function close_box(){
            $('#modal-post').removeClass("is-active")
        }
    </script>

</head>
<body>
<nav class="banner" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}">
            <strong class="is-sparta"
                    style="font-family: 'Stylish', sans-serif;font-size: larger;">개린이의필수템</strong>
        </a>
    </div>
    <section class="section">
        <article class="media">
            <figure class="media-left" style="align-self: center">
                <a class="image is-32x32" href="/user/{{ user_info.username }}">
                    <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                </a>
            </figure>
            <div class="media-content">
                <div class="field">
                    <div class="control">
                        <input id="input-post" class="input is-rounded" placeholder="등록하기"
                               onclick='$("#modal-post").addClass("is-active")'>                </div>
                </div>

            </div>
        </article>
        <div class="modal" id="modal-post">
            <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div class="modal-background">
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="lay">
                            <button onclick="window.open('https://www.danawa.com/pc/')" type="button" class="btn btn-dark" id="link" >다나와</button>
                            <select id="sel" class="form-select" aria-label="Default select example">
                                <option selected>카테고리</option>
                                <option value="1">노트북</option>
                                <option value="2">데스크탑용품</option>
                                <option value="3">기타용품</option>
                            </select>

                            <div class="mb-3">
                                <input id="url" type="email" class="form-control" id="exampleFormControlInput1" placeholder="URL">
                            </div>

                            <div class="mybtns">
                                <button onclick="posting_item()" type="button" class="btn btn-dark">등록하기</button>&nbsp
                                <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-post").removeClass("is-active")'></button>
        </div>
    </section>
</nav>
<div class="itembox" id="itembox">
<div class="laptop">
    <h1>노트북</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4"id="labtop_box">
    </div>
</div>
<div class="deskst">
    <h1>데스크탑용품</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4"id="desk_box">
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="acc">
    <h1>기타용품</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="acc_box">
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://img.danawa.com/prod_img/500000/476/660/img/12660476_3.jpg?shrink=330:330&_v=20220105143641" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북에어</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


</body>
</html>
