<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>개발장비 추천좀!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

       <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <style>

    </style>

    <script>
        $(document).ready(function(){
            listing();
        });

        function listing() {
            $.ajax({
                type: 'GET',
                url: '/item',
                data: {},
                success: function (response) {
                    let rows = response['items']
                    for(let i = 0; i < rows.length; i++) {
                        let image = rows[i]['image']
                        let title = rows[i]['title'].split(":")[0]
                        let sel = rows[i]['sel']
                        let price = rows[i]['price']
                        let user = rows[i]['username']

                        let temp_html = `<div class="col">
                                                <button onclick="go_item()" class="card h-100" style="align-items: center; padding: 3px">
                                                    <img src="${image}" class="card-img-top" alt="..." style="alignment: center">
                                                    <div class ="card-body">
                                                        <h5 class="card-title" style="font-family: 'Stylish', sans-serif;font-size: 20px; font-weight: bolder">${title}</h5>
                                                        <p class="card-text"style="font-family: 'Stylish', sans-serif;font-size: 18px; font-weight: bolder; color: orange" >${price}</p>
                                                        <p class="u_nm" style="color: grey">작성자-${user}</p>
                                                    </div>
                                                </button>
                                            </div>`
                        if(sel=="데스크탑용품"){
                            $('#desk_box').append(temp_html)
                        }
                        else if(sel=="기타용품"){
                            $('#acc_box').append(temp_html)
                        }
                        else {
                            $('#labtop_box').append(temp_html)
                        }
                    }
                }
            })
        }
        function posting_item() {
            let url = $('#url').val()
            let sel = $('#sel').val()

            $.ajax({
                type: 'POST',
                url: '/item',
                data: {url_give: url, sel_give: sel},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function close_box(){
            $('#modal-post').removeClass("is-active")
        }

        function sign_out(){
        $.removeCookie('mytoken', {path: '/'});
        alert('로그아웃')
        window.location.href = "/login"
        }

        function go_item(){
            $.ajax({
                url: 'detail.html',
                data: {},
                success: function (response) {
                    alert(response['msg'])
                }
            });
        }


    </script>

</head>
<body>
<nav class="banner" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong class="is-sparta"
                    style=" font-family: 'Do Hyeon', sans-serif;font-size: xxx-large; color:cornflowerblue">개린이의필수템</strong>
        </a>
    </div>
    <section class="section">
        <article class="media">
            <figure class="media-left" style="align-self: center">
                <a class="image is-32x32" href="/user/{{ user_info.username }}">
                    <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                </a>
            </figure>
            <div class="media-content">
                <div class="field">
                    <div class="control">
                        <input id="input-post" class="input is-rounded" placeholder="등록하기"
                               onclick='$("#modal-post").addClass("is-active")'>
                    </div>
                </div>
            </div>
        </article>
        <div class="modal" id="modal-post">
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="lay">
                            <button onclick="window.open('https://www.danawa.com/pc/')" type="button" class="btn btn-dark" id="link" >다나와</button>
                            <select id="sel" class="form-select" aria-label="Default select example">
                                <option selected>카테고리</option>
                                <option value="노트북">노트북</option>
                                <option value="데스크탑용품">데스크탑용품</option>
                                <option value="기타용품">기타용품</option>
                            </select>
                            <div class="mb-3">
                                <input id="url" type="email" class="form-control" id="exampleFormControlInput1" placeholder="URL">
                            </div>
                            <div class="mybtns">
                                <button onclick="posting_item()" type="button" class="btn btn-dark">등록하기</button>&nbsp
                                <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-post").removeClass("is-active")'></button>
        </div>
    </section>
    <nav id="btns-me" class="logout" style="alignment: right">
    <a class="button is-white" aria-label="logout"
       onclick="sign_out()">
        로그아웃
    </a>
</nav>
</nav>
<div class="itembox" id="itembox">
    <div class="laptop">
        <h1 class="cate_nm">노트북</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="labtop_box">
        </div>
    </div>
    <div class="deskst">
        <h1 class="cate_nm">데스크탑용품</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4"id="desk_box">
        </div>
    </div>
    <div class="acc">
        <h1 class="cate_nm">기타용품</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="acc_box">
        </div>
    </div>
</div>



</body>
</html>
